

/*Styling of the whole page */
body, html {
    height: 100%;
    color: #e5e7eb;
    font-size: 18px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 200%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


/*styling of the three main boxes that 
make the page */
.box {
    box-sizing: border-box;
    padding: 30px;
    background: #1F2937;
    height: auto;
    width: 100%;
    flex: O;

}

/*styling of the first Box (dark blue header one)*/

.first{
    display: flex;
    flex-direction: column;
    gap:5%;
    flex: 1;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.first div {
    flex: 1;
    color: white;
}

.first > :first-child, .header span, .header a, #top span, #description {
    flex: 1;
   
    
}
    /*styling of the link to home page*/
#link{
    text-decoration:none;
    
}
#link:visited{
    text-decoration:none;
    color: #e5e7eb;
}


.first > :last-child {
    flex: 3;
    gap: 5%;
}

.header, .header .links, #top {
    display: flex;
}
.header > :first-child {
    font-size: 24px;
    color: #F9FAF8;
}


#namesite {
    flex: 1;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;

}


/*syling of the second box (the white one)*/


.second{
    display: flex;
    flex-direction: column;
    background: white;
    flex: 5;
    gap: 8px;


}
.second .one{
    display: flex;
    flex-direction: column;
    gap:5%;
    flex:5;
    text-align-last: center;
}

.second .two{
    background: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 3%;
    border-radius: 8px;
    flex:0;
}

.second .three{
    flex:0;
    padding: 3%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    /*styling the first element of the second box*/
.second .one > :first-child {
    
    flex: 0;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;

}

#list{ /*second element inside the .second .one */
    flex:2;
    gap: 5%;
    display: flex;
}
#list span{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#list span > p {
    border-radius: 8px;
    flex: 0;
    color: #1F2937;



}


#action { /*child of the .second .third */
    display: flex; 
    background: #3882F6; 
    height: 100%; 
    width: 80%; 
    align-items: center;
    border-radius: 8px;

}


/*styling of button */

.button{
    color: #e5e7eb;
    background: #3882F6;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    width: 20%;
}

/*styling of images*/

/*style of the header logo*/

#logo{
    width: 50px; 
    height: auto; 
    border-radius: 50%;

}

/*styling of the image in the header*/
#headerimg {
    border: 2px solid white; 
    border-radius: 8px; 
    width: auto; 
    height: 200px;


}

/*styling of the artists images*/

.artist{
    border-radius: 8px;
    border: 4px solid gray;
    flex: 1;
    width: auto;
    height: 60px;
}